// Reset no longer needed if you're using Bootstrap. But add it back if you don't want to use Bootstrap.
// @import "reset";



.container {
    max-width: 1200px;
}

.logo{
    background: url(/images/logo.jpg) no-repeat;
    background-size:  175px 131px;
    width: 175px;
    height: 131px;
    float: left;
    position: fixed;
    top:-30px;
    left: -50px;
}

.top {
        // position: fixed;
        background-color: #fff;
        z-index: 1;
        top: 0;
        width: 100%;
        padding: 6px 0;
        padding-bottom: 10px;
        height: auto;
        box-shadow: 0 2px 20px rgba(0,0,0,0.2);
}

.nav{
        float: right;
        padding-top: 1px;
}

.nav > a{
        display: inline-block;
        padding: 5px 10px;
        text-transform: uppercase;
        border-radius: 3px;
        font-weight: bold;
}

/*HERO*/

.home-page{
    padding: 200px 0;
       background: url(/images/jumbo1.jpg) no-repeat;
       background-size: cover;
       // height: 100%;
    // margin: 0;
    // padding-top:1px;
    // position: relative;
    // height: 1365px;
    // clear: both;

    // background-size: cover;
    // background-attachment: fixed;
    // background-size: contain;
}

.headline{
    background-color: rgba(255,255,255,0.7);
    // position: absolute;
    // width: 100%;
    // top: 35%;
    // margin-top: 50px;
    // min-height: 200px;
    color: #383533;
    /*height: 30%;*/
    // padding: 2em;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

.places{
    text-align: center;
}

.thumbnail {
    width: 20%;
    height: 20%;
    display: inline-block;
    margin-top: 20px;
}


// * {
//     background-repeat: no-repeat;
// }

// body {
//     background: pink;
// }

@media screen and (max-width: 400px) {

    .hero-image {
        width: auto;
        background-size: contain;
    }


    .headline {
        margin-top: 50px;
    }
}
@media screen and (min-width: 774px) {

    .hero-image {
        padding: 300px 0;
    }
}

@media screen and (min-width: 1400px) {

    .hero-image {
        padding: 400px 0;
    }
}




